body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;

}
header {
    min-height: 120px;
}
main {
    flex: 3;

}
aside {
    flex: 1;
    min-height: 400px;
}
footer {
    flex: 1;
    min-height: 80px;

}

.container-log-ti {
    display: flex;
    align-items: center;
}
.logoo {
    width: 60px;
    height: 60px;
}
.tituloo {
    text-align: center;
    font-size: 2.5em;
}
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    main, aside {
        flex: 1;
    }
}

