body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;

}
header {
    min-height: 120px;
    align-content: center;
}
main {
    flex: 3;
    margin: 5px 5px 10px;
    margin-top: auto;
}
aside {
    flex: 1;
    min-height: 400px;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.footer-izq, .footer-der {
    flex: 1;
    padding: 20px;
    min-height: 80px;
    text-align: center;
}
.contac {
    font-size: 1.5 em;
    font-weight: bold;
}
.listt {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}

.container-log-ti {
    display: flex;
    align-items: center;
}

.logoo {
    width: 60px;
    height: 60px;
}

.tituloo {
    text-align: center;
    font-size: 2.5em;
}

.footer-der-text {
    max-height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-align: center;
}




.main-content {
    margin: 0 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mcc {
    column-count: 2;
    column-gap: 5px;
}
.column-container {
    display: flex;
}

.column {
    flex: 1;
}
.ccc {
    column-count: 3;
    column-gap: 5px;
}
h2 {
    margin: 0 0 10px;
}
.imgg {
    margin: 0 5px 0 0;
    max-width: 100%;
    height: auto;
    float: left;
}

.ppp {
    margin: 0;
}
.section {
    display: inline-block;
    width: calc(33.33% - 5px);
    margin: 0 5px;
    vertical-align: top;
}
h3 {
    margin: 0 0 5px;
}
