body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;

}
header {
    min-height: 120px;
    background-color: #6490f5;
}
main {
    flex: 3;

}
aside {
    flex: 1;
    min-height: 400px;
}
footer {
    flex: 1;
    min-height: 80px;

}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    main, aside {
        flex: 1;
    }
}